*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/Star\ Wars\ background\ night\ sky\ white\ stars.png") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.full {
  display: flex;
  flex-direction: column;
}
.heading{
  color: white;
  text-align: center;
  font-size: 5rem;
}

.dontshow{
  display: none;
}
.container1 {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  z-index: 1;
}
.centered1 {
  background: white;
  padding:5px;
  border-radius:5px;
  display:inline-block;
  vertical-align:middle;
  max-width:400px;
  margin:10px;
}

.container1:before {
  content:"";
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0;
}
.img-responsive {
  margin: 8px;
  transition: 0.5s ease;
  display: flex;
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.btn-info,
ul.no-bullets {
  
  transition: 0.5s ease-in-out;
  letter-spacing: 2px;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
@media screen and (max-width : 500px){
  .responsive{
    padding: 0px  25px;
    background-color: black;
  }
  
}
